/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define ALPHA 0
#define NUMFN 1
#define SYMBL 2

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping-term-ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        ALPHA {
            bindings = <
    &kp Q      &kp W       &kp E         &kp R        &kp T        &kp Y     &kp U         &kp I         &kp O       &kp P
    &mt LCTRL A    &kp S  &kp D  &kp F  &kp G        &kp H     &kp J  &kp K  &kp L  &kp  APOS
    &mt LSHIFT Z      &kp X       &kp C         &kp V        &kp B        &kp N     &kp M         &kp COMMA     &mt RSHIFT DOT
	&kp LCTRL  &kp LALT    &lt 3 BSPC    &trans    &lt 1 SPACE    &kp RALT
            >;
        };
		
        NUMFN {
            bindings = <
    &kp N1     &kp N2    &kp N3    &kp N4    &kp N5     &kp N6    &kp N7           &kp N8        &kp N9         &kp N0
    &kp LBKT     &kp RBKT    &kp BSLH    &trans    &trans     &trans    &trans           &trans   &kp APOS      &kp SEMI
    &trans     &trans    &trans    &trans   &trans    &kp MINUS   &kp EQUAL  &kp COMMA  &kp FSLH
	&trans  &trans  &kp DEL  &trans  &trans  &trans
            >;
        };
		
        SYMBL {
            bindings = <
    &kp TAB  &trans  &kp UP   &trans  &trans  &kp FSLH  &trans     &trans     &trans       &trans
    &trans  &kp LEFT   &kp DOWN  &kp RIGHT    &trans     &trans  &trans  &trans &trans    &trans
    &bt BT_CLR    &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2    &trans     &trans    &trans       &trans       &trans
	&trans    &trans   &trans  &trans  &trans     &trans
            >;
        };
    };
};
